.hero {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  background: #f5f6fa;
  min-height: 100vh;

  &__content {
    max-width: 500px;
  }

  &__title {
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    color: #1e2430;
    line-height: 1.2;

    span {
      color: #2563eb;
    }
  }

  &__desc {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.6;
  }

  &__image {
    flex: 1;
    display: flex;
    justify-content: right;
  }
}
